body {
	font-size:12px;
	color:#333;
}

.table1 {
	width:600px;
	border-collapse:collapse;
}

.table1 th,td {
	border:1px solid #ccc;
	padding:3px;
	font-size:12px;
	color:#333;
	text-align:center;
}

.input1 {
	width:90%;
	font-size:12px;
	padding:3px;
}

.textarea1 {
	width:90%;
	height:50px;
	font-size:12px;
	padding:3px;
}

.div_title {
	width:600px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	margin-bottom:10px;
}

.div_button_area1 {
	width:600px;
	text-align:center;
	margin-top:15px;
}

.div_button_area2 {
	width:480px;
	text-align:right;
	margin-top:-15px;
}

.div_button_area3 {
	width:480px;
	text-align:right;
	margin-top:-15px;
	margin-left:112px;
}